Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30

Host linodeClient
    HostName 45.33.81.42
    User arlefreak
    IdentityFile ~/.ssh/id_rsa

Host OsecanDev
    HostName 138.197.17.118
    User arlefreak
    IdentityFile ~/.ssh/id_rsa

Host HyperServerRoot
    HostName 104.131.113.41
    User root
    IdentityFile ~/.ssh/id_rsa

Host HyperServer
    HostName 104.131.113.41
    User arlefreak
    IdentityFile ~/.ssh/id_rsa

Host Odelan
    HostName 104.236.14.163
    user root
    IdentityFile ~/.ssh/id_rsa
