Host *
     ForwardAgent no
     ForwardX11 no
     ForwardX11Trusted yes
     Port 22
     Protocol 2
     ServerAliveInterval 60
     ServerAliveCountMax 30

Host OsecanDev
    HostName 138.197.17.118
    User arlefreak
    IdentityFile ~/.ssh/id_rsa

Host Pi
    HostName 192.168.3.124
    user pi
    IdentityFile ~/.ssh/id_rsa

Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_rsa

Host web03
  HostName 165.22.188.187
  user deploy
  IdentityFile ~/.ssh/id_rsa

Host web03
  HostName 165.22.188.187
  user root
  IdentityFile ~/.ssh/deploy

Host web02
  HostName 157.230.216.123
  user deploy
  IdentityFile ~/.ssh/deploy

Host web01
  HostName 167.99.169.207
  user deploy
  IdentityFile ~/.ssh/deploy
