[Unit]
Description=Random wallpaper
After=graphical-session.target
ConditionEnvironment=SWAYSOCK

[Service]
Type=oneshot
ExecStart=%h/bin/rnd-wallpaper
