[Unit]
Description=Random wallpaper
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c '${HOME}/bin/rnd-wallpaper'

[Install]
WantedBy=multi-user.target
