[Unit]
Description=Random wallpaper with timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnCalendar=hourly
Unit=rnd-wallpaper.service

[Install]
WantedBy=default.target
