[Unit]
Description=Random wallpaper with timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnCalendar=*:0/59
Unit=service

[Install]
WantedBy=default.target
